.App {
  text-align: center;
}
.App-header {
  background-color: #4cb050;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
}
.translation-input {
  display: table;
  width: 100%;
}
.translation-input, .translation-input textarea {
  background: #c8e6ca;
  color: #728a71;
  padding: 10px;
}
.translation-input .form-group {
  float: left;
  width: 70%;
}
.translation-input .form-group textarea {
  border: 0;
  width: 100%;
  text-align: center;
}
.native-text {
  padding: 10px;
}
.native-text span {
  padding-right: 5px;
}
.native-text:first-letter {
  text-transform: uppercase;
}
.answers-variant {
  color: #6a6a6a;
  margin: 10px;
}
.answers-variant button {
  padding: 10px;
  margin: 10px;
}